@import "bootstrap.scss";
@import "data-table.scss";
@import "toastr.scss";
h1 {
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h3 {
    color: #333;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.header{
    display: block;
    text-align: center;
    padding: 1rem;
}